<%#
 Copyright 2018 Lienol <lienol@qq.com>
 Licensed to the public under the Apache License 2.0.
-%>

<style>
#_ss_status_fieldset {
	margin-bottom: 0px;
}
#_ss_status_table td {
	border:none;
}
#_ss_status_table tr td:first-child {
	width: 20%;
	text-align:right;
}
#_ss_status_table tr td+td {
	padding-left:30px
}
</style>
<fieldset id="_ss_status_fieldset" class="cbi-section">
	<legend><%:Running Status%></legend>
	<table width="100%" cellspacing="10" id="_ss_status_table">
		<tr>
			<td><%:Transparent Proxy%></td>
			<td id="_ss_redir_status">
				<em><%:Collecting data...%></em>
			</td>
		</tr>
		
		<tr>
			<td><%:Load Balancing%></td>
			<td id="_haproxy_status">
				<em><%:Collecting data...%></em>
			</td>
		</tr>
		
		<tr>
			<td><%:Kcp Client%></td>
			<td id="_kcp_status">
				<em><%:Collecting data...%></em>
			</td>
		</tr>
		
		<tr>
			<td style="padding-top: 15px;"><%:China Connection%></td>
			<td>
				<input type="button" class="cbi-button cbi-button-apply" value="<%:Check%>" onclick="return check_connect(this,'china')" />
				<font id="_china_status"></font>
			</td>
		</tr>
		
		<tr>
			<td style="padding-top: 15px;"><%:Foreign Connection%></td>
			<td>
				<input type="button" class="cbi-button cbi-button-apply" value="<%:Check%>" onclick="return check_connect(this,'foreign')" />
				<font id="_foreign_status"></font>
			</td>
		</tr>
		
		<tr>
			<td></td>
			<td>
				<a class="cbi-button cbi-input-button" href="http://www.ip111.cn/" target="_blank">IP111.cn</a>
			</td>
		</tr>
	</table>
</fieldset>